<form>
  <div class="mb-3 row">
    <label
      for="table-complete-search"
      class="col-xs-3 col-sm-auto col-form-label"
      >Full text search:</label
    >
    <div class="col-xs-3 col-sm-auto">
      <input
        id="table-complete-search"
        type="text"
        class="form-control"
        name="searchTerm"
        [(ngModel)]="service.searchTerm"
      />
    </div>
    @if (service.loading$ | async) {
    <span class="col col-form-label">Loading...</span>
    }
  </div>

  <div class="table-responsive rounded shadow-lg mb-3" style="max-height: 90vh">
    <table class="table table-sm table-striped table-hover mb-0">
      <thead>
        <tr>
          <th scope="col">Id</th>
          <th scope="col" sortable="username" (sort)="onSort($event)">
            Username
          </th>
          <th scope="col" sortable="firstName" (sort)="onSort($event)">
            FirstName
          </th>
          <th scope="col" sortable="lastName" (sort)="onSort($event)">
            LastName
          </th>
          <th scope="col" sortable="email" (sort)="onSort($event)">Email</th>
          <th scope="col" sortable="phoneNumber" (sort)="onSort($event)">
            PhoneNumber
          </th>
          <th scope="col" sortable="country" (sort)="onSort($event)">
            Country
          </th>
          <th scope="col" sortable="state" (sort)="onSort($event)">State</th>
          <th scope="col" sortable="city" (sort)="onSort($event)">City</th>
          <th scope="col" sortable="postalCode" (sort)="onSort($event)">
            PostalCode
          </th>
          <th scope="col" sortable="streetAddress" (sort)="onSort($event)">
            StreetAddress
          </th>
          <th scope="col" sortable="password" (sort)="onSort($event)">
            Password
          </th>
          <th scope="col" sortable="securityQuestion1" (sort)="onSort($event)">
            SecurityQuestion1
          </th>
          <th scope="col" sortable="securityAnswer1" (sort)="onSort($event)">
            SecurityAnswer1
          </th>
          <th scope="col" sortable="securityQuestion2" (sort)="onSort($event)">
            SecurityQuestion2
          </th>
          <th scope="col" sortable="securityAnswer2" (sort)="onSort($event)">
            SecurityAnswer2
          </th>
          <th scope="col" sortable="deviceType" (sort)="onSort($event)">
            DeviceType
          </th>
          <th scope="col" sortable="deviceBrand" (sort)="onSort($event)">
            DeviceBrand
          </th>
          <th scope="col" sortable="deviceModel" (sort)="onSort($event)">
            DeviceModel
          </th>
          <th scope="col" sortable="deviceOs" (sort)="onSort($event)">
            DeviceOs
          </th>
          <th scope="col" sortable="lastLogin" (sort)="onSort($event)">
            LastLogin
          </th>
          <th scope="col" sortable="accountCreated" (sort)="onSort($event)">
            AccountCreated
          </th>
          <th scope="col" sortable="twoFactorEnabled" (sort)="onSort($event)">
            TwoFactorEnabled
          </th>
          <th scope="col" sortable="lastIpAddress" (sort)="onSort($event)">
            LastIpAddress
          </th>
          <th scope="col" sortable="loginAttempts" (sort)="onSort($event)">
            LoginAttempts
          </th>
          <th scope="col" sortable="accountLocked" (sort)="onSort($event)">
            AccountLocked
          </th>
          <th
            scope="col"
            sortable="passwordLastChanged"
            (sort)="onSort($event)"
          >
            PasswordLastChanged
          </th>
        </tr>
      </thead>
      <tbody>
        @for (person of persons$ | async; track person.id) {
        <tr class="customrow">
          <th scope="row">{{ person.id }}</th>
          <td>
            <ngb-highlight
              [result]="person.username"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.firstName"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.lastName"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.email"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.phoneNumber"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.country"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight [result]="person.city" [term]="service.searchTerm" />
          </td>
          <td>
            <ngb-highlight
              [result]="person.state"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.postalCode"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.streetAddress"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.password"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.securityQuestion1"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.securityAnswer2"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.securityQuestion2"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.securityAnswer2"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.deviceType"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.deviceBrand"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.deviceModel"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.deviceOs"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.lastLogin | date : 'medium'"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.accountCreated | date : 'medium'"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.twoFactorEnabled ? 'True' : 'False'"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.lastIpAddress"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.loginAttempts | number"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.accountLocked ? 'True' : 'False'"
              [term]="service.searchTerm"
            />
          </td>
          <td>
            <ngb-highlight
              [result]="person.passwordLastChanged | date : 'medium'"
              [term]="service.searchTerm"
            />
          </td>
        </tr>
        } @empty {
        <tr>
          <td colspan="27" style="text-align: left" class="ps-5">
            No search results
          </td>
        </tr>
        }
      </tbody>
    </table>
  </div>

  <div class="d-flex justify-content-between p-2">
    <ngb-pagination
      [collectionSize]="(total$ | async)!"
      [(page)]="service.page"
      [pageSize]="service.pageSize"
      [maxSize]="5"
      [boundaryLinks]="true"
      [ellipses]="false"
      [rotate]="true"
    >
    </ngb-pagination>

    <select
      class="form-select"
      style="width: auto"
      name="pageSize"
      [(ngModel)]="service.pageSize"
    >
      <option [ngValue]="10">10</option>
      <option [ngValue]="20">20</option>
      <option [ngValue]="50">50</option>
      <option [ngValue]="100">100</option>
    </select>
  </div>
</form>
