<div class="top-row ps-3 navbar navbar-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href=""
      ><i class="bi-graph-up me-3"></i>Angular Thesis Research</a
    >
  </div>
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler rounded" />

<div
  class="nav-scrollable"
  onclick="document.querySelector('.navbar-toggler').click()"
>
  <nav class="flex-column">
    <div class="nav-item px-3">
      <a
        class="nav-link text-white p-3 rounded"
        routerLink="/home"
        routerLinkActive="active"
      >
        <i class="bi-house-door-fill me-3"></i> Home
      </a>
    </div>

    <hr />

    <div class="nav-item px-3">
      <a
        class="nav-link text-white p-3 rounded"
        routerLink="/basic-table-100"
        routerLinkActive="active"
      >
        <i class="bi-table me-3"></i>Table<span class="badge bg-dark ms-3"
          >100 x 28</span
        ><span class="badge bg-secondary ms-3">CSV</span
        ><span class="badge bg-success ms-3">47 kB</span>
      </a>
    </div>

    <div class="nav-item px-3">
      <a
        class="nav-link text-white p-3 rounded"
        routerLink="/basic-table-1000"
        routerLinkActive="active"
      >
        <i class="bi-table me-3"></i>Table<span class="badge bg-dark ms-3"
          >1K x 28</span
        ><span class="badge bg-secondary ms-3">CSV</span
        ><span class="badge bg-warning ms-3">464 kB</span>
      </a>
    </div>

    <div class="nav-item px-3">
      <a
        class="nav-link text-white p-3 rounded"
        routerLink="/basic-table-10000"
        routerLinkActive="active"
      >
        <i class="bi-table me-3"></i>Table<span class="badge bg-dark ms-3"
          >10K x 28</span
        ><span class="badge bg-secondary ms-3">CSV</span
        ><span class="badge bg-danger ms-3">4.603 kB</span>
      </a>
    </div>

    <hr />

    <div class="nav-item px-3">
      <a class="nav-link text-white p-3 rounded" href="advanced-table-100">
        <i class="bi-table me-3"></i>Advanced Table<span
          class="badge bg-dark ms-3"
          >100 x 28</span
        ><span class="badge bg-secondary ms-3">CSV</span
        ><span class="badge bg-success ms-3">47 kB</span>
      </a>
    </div>

    <div class="nav-item px-3">
      <a class="nav-link text-white p-3 rounded" href="advanced-table-1000">
        <i class="bi-table me-3"></i>Advanced Table<span
          class="badge bg-dark ms-3"
          >1K x 28</span
        ><span class="badge bg-secondary ms-3">CSV</span
        ><span class="badge bg-warning ms-3">464 kB</span>
      </a>
    </div>

    <div class="nav-item px-3">
      <a class="nav-link text-white p-3 rounded" href="advanced-table-10000">
        <i class="bi-table me-3"></i>Advanced Table<span
          class="badge bg-dark ms-3"
          >10K x 28</span
        ><span class="badge bg-secondary ms-3">CSV</span
        ><span class="badge bg-danger ms-3">4.603 kB</span>
      </a>
    </div>
  </nav>
</div>
